@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
   --background: #f0f2f5;
   --red: #e52e4d;
   --green: #33cc95;
   --text-title: #EEEEF2;
   --text-body: #EEEEF2;
   --background: #181B23;
   --shape: #ffffff;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   @media (max-width: 1080px) {
       font-size: 93.75%;
   }
   @media (max-width: 720px) {
       font-size: 87.5%;
   }
}
 
body {
   font-family: 'Roboto', sans-serif;
   color: var(--text-body);
   background: var(--background);
   -webkit-font-smoothing: antialiased;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}